@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animate-marquee {
    display: inline-block;
    min-width: 100%;
    animation: marquee 25s linear infinite;
  }
}
